@using Octokit
@model Repository
@{
    ViewData["Title"] = "Descricao";
}

<h1>Descrição:</h1>
<br/>

<ul>
@{
 <li>Nome : @Model.Name </li>
 <br/>
 <li>Descrição : @Model.Description </li> 
 <br/>
 <li>Linguagem : @Model.Language </li> 
 <br/>
 <li>Última data de Atualização : @Model.UpdatedAt </li>
 <br/>
 <li>Dono do Repositório : @Model.FullName.Split('/')[0] </li>
 <br/>
 <li>Contribuidores : <a href="/Github/Contribuidores?repo=@Model.FullName">Clique aqui.</a> </li>
 <br/>
}
</ul>
<br/>

<p><a href="/Favoritos/AdicionarFavorito?Repo=@Model.FullName">Adicionar aos Favoritos</a></p>
